#R{
    border: 1px solid black;
    text-align: center;
    margin: 20px auto;
    padding: 30px; /* pour que le cadre des photos sois bien en mode poupée russe.*/
}
.a{
    background-color: white;
}
.b{
    background-color: greenyellow;
    
}
.c{
    background-color: purple;
    
}
.d{
    background-color: orange;
}